.instagram-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.instagram-wrapper h3 {
  margin-bottom: 1rem;
}

.insta-img-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.insta-img-container .main-img {
  width: 50%;
  height: 300px;
  border: solid 2px black;
}

.insta-img-container .secondary-imgs {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.insta-img-container .small-imgs {
  width: 100%;
  height: 45%;
  border: solid 2px black;
}

@media only screen and (max-width: 480px) {
  .insta-img-container {
    display: none;
  }
}
