.projects-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-display {
  width: 40%;
  height: 50%;
  margin-top: 2.25rem;
}

.project-display h2 {
  font-weight: 500;
  font-size: 1.4rem;
}

.proj-img {
  border: solid 30px rgb(197, 197, 197);
  background-position: center;
  margin-bottom: 2.25rem;
}

@media only screen and (max-width: 480px) {
  .projects-wrapper {
    flex-direction: column;
  }
  .project-display {
    width: 100%;
  }
}
