.static-container h1 {
  margin-bottom: 2rem;
  font-weight: 500;
}

.static-container a {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.8);
}

.static-container {
  margin-top: 4rem;
}

.static-container p {
  margin-bottom: 2rem;
}
