.connect-wrapper .connect-email {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.8);

  transition: all ease-in-out 0.3;
}

.connect-wrapper .connect-email:hover {
  border-bottom: solid 2px hsla(0, 0%, 0%, 0.8);
}
