.project-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.project-intro {
  width: 100%;
  height: 100%;
}

.intro-wrap {
  position: absolute;
  top: 15%;
}
.project-stack {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.project-wrapper h1 {
  margin-bottom: 2rem;
  font-weight: 500;
}

.project-intro p {
  margin-bottom: 1.8rem;
}

.project-wrapper p {
  width: 80%;
}

.project-intro li:nth-child(1) {
  list-style: none;
}

li:nth-last-child(-n + 3) {
  margin-left: 1.1rem;
  list-style: circle;
}

.hero-img {
  width: 95%;
  margin: 0 auto;
}

.project-goal {
  width: 50%;
}

.tech-stack-wrapper {
  display: flex;

  width: 100%;
}

.tech-stacks {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-description {
  width: 50%;
}

.images-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.img-left {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.image-three {
  width: 55%;
  align-self: center;
}

.mt-5 {
  margin-top: 5rem;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

@media only screen and (max-width: 480px) {
  .project-stack {
    flex-direction: column;
  }

  .project-stack ul {
    margin: 0;
  }
  .project-goal {
    width: 100%;
  }

  .tech-stack-wrapper {
    flex-direction: column-reverse;
  }

  .tech-stacks {
    width: 100%;
    justify-content: flex-start;
  }
  .tech-description {
    width: 100%;
  }
  .mt-5 {
    margin-bottom: 3rem;
  }
  .project-wrapper p {
    width: 100%;
  }
}
