.header-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 1.8rem;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #b653e7;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 10%;
  font-size: 60px;
}

.header-wrapper button {
  background: none;
  outline: none;
  border: none;
  padding: 8px 12px;
  transition: 0.5s;
  border-radius: 3px;
}

.header-wrapper button:hover {
  cursor: pointer;
  background-color: #ddc9e7;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 480px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 5px;
  }
}

/* Toggle dark mode  */

/* #toggle-mode-cb {
  display: none;
}

#toggle-mode {
  position: absolute;
  top: 8px;
  right: 50px;
}
#toggle-mode .toggle-border {
  border: 1px solid #1e1f26;
  width: 50px;
  height: 20px;
  display: block;
  border-radius: 20px;
  position: relative;
}
#toggle-mode .toggle-indicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  background-color: #1e1f26;
  top: 2px;
  left: 2px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
#toggle-mode .toggle-indicator::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  bottom: -3px;
  right: 5px;
  background-color: #1e1f26;
}

#mode-wrapper {
  transition: all 0.3s ease-in-out;

  position: relative;
}

#mode-wrapper {
  background-color: white;
  color: #1e1f26;
}
#mode-wrapper .mode__light {
  opacity: 1;
}
#mode-wrapper .mode__dark {
  opacity: 0;
}

#toggle-mode-cb:checked + #mode-wrapper {
  background-color: #1e1f26;
  color: gray;
}
#toggle-mode-cb:checked + #mode-wrapper .mode__light {
  opacity: 0;
}
#toggle-mode-cb:checked + #mode-wrapper .mode__dark {
  opacity: 1;
}
#toggle-mode-cb:checked + #mode-wrapper .toggle-border {
  border-color: white;
}
#toggle-mode-cb:checked + #mode-wrapper .toggle-indicator {
  background-color: white;
  left: calc(50px - 18px);
  transform: rotate(180deg);
} */
