.home-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.intro-wrapper {
  width: 100%;
  height: 100%;
}

.intro {
  position: absolute;
  top: 25%;
}

.socials {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.socials .line {
  opacity: 0;
  height: 0.12rem;
  background-color: gray;
  animation: stretchX forwards 1s;
}

.social-icons > * {
  margin-left: 1.2rem;
}

.intro h2 {
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.btn-group {
  margin-top: 1rem;
}

.resume-btn {
  width: 140px;
  height: 35px;
  margin-right: 10px;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

.view-resume-btn {
  background-color: black;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
}

.download-resume-btn {
  border: solid 3px black;
  background-color: #ffffff;
}

.view-resume-btn:hover {
  background-color: rgb(82, 82, 82);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.download-resume-btn:hover {
  background-color: rgb(82, 82, 82);
  border: none;
  color: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

@media only screen and (min-width: 720px) {
  .intro h2 {
    font-size: 2.7rem;
  }

  .resume-btn {
    width: 200px;
    height: 45px;
    border-radius: 8px;
    font-size: 0.8rem;
  }
}

h2 span {
  color: #826f8b;
}

@keyframes stretchX {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 40%;
  }
}

@media screen and (max-width: 1026px) {
  .quotes {
    display: none;
  }
  .top-blur {
    display: none;
  }
  .blur-bottom {
    display: none;
  }
}
